n8n/weekly-digest-workflow.json
{
  "name": "Life Dashboard — Weekly Digest (Sunday)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 16 * * 0"
            }
          ]
        }
      },
      "id": "trigger-cron",
      "name": "Каждое воскресенье 19:00 МСК",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "notes": "Cron в UTC: 16:00 ВС = 19:00 МСК ВС. Воскресный итог недели."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sheet-id",
              "name": "sheet_id",
              "value": "1soLhY5LtrYzcQktWqcmX9Of0YGWqnccuvj37DU3GhKE",
              "type": "string"
            },
            {
              "id": "garmin-tab",
              "name": "garmin_tab",
              "value": "garmin_daily",
              "type": "string"
            },
            {
              "id": "chat-id",
              "name": "telegram_chat_id",
              "value": "REPLACE_ME_WITH_YOUR_CHAT_ID",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "config",
      "name": "Конфиг",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "=https://docs.google.com/spreadsheets/d/{{ $json.sheet_id }}/gviz/tq?tqx=out:csv&sheet={{ $json.garmin_tab }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "fetch-garmin",
      "name": "Тянем Garmin CSV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// Парсим CSV, считаем агрегаты за последние 7 дней и сравниваем с предыдущей неделей.\nconst raw = $('Тянем Garmin CSV').item.json.data || $('Тянем Garmin CSV').item.json;\n\nfunction parseCsv(text) {\n  if (typeof text !== 'string') text = String(text);\n  const lines = text.split(/\\r?\\n/).filter(Boolean);\n  if (!lines.length) return [];\n  const splitLine = (s) => s.match(/(\"([^\"]|\"\")*\"|[^,]*)(,|$)/g)\n    .filter(Boolean)\n    .map(v => v.replace(/,$/, '').replace(/^\"|\"$/g, '').replace(/\"\"/g, '\"').trim());\n  const headers = splitLine(lines[0]);\n  return lines.slice(1).map(line => {\n    const cells = splitLine(line);\n    const obj = {};\n    headers.forEach((h, i) => { obj[h] = cells[i] ?? ''; });\n    return obj;\n  });\n}\n\nfunction num(v) {\n  if (v == null || v === '') return NaN;\n  if (typeof v === 'number') return v;\n  const cleaned = String(v).replace(/[\\s\\u00A0]/g, '').replace(',', '.');\n  const n = parseFloat(cleaned);\n  return isFinite(n) ? n : NaN;\n}\n\nconst rows = parseCsv(raw)\n  .filter(r => r.date)\n  .sort((a, b) => (a.date || '').localeCompare(b.date || ''));\n\nconst lastWeek = rows.slice(-7);\nconst prevWeek = rows.slice(-14, -7);\n\nfunction stats(weekRows, key) {\n  const nums = weekRows.map(r => num(r[key])).filter(v => isFinite(v));\n  if (!nums.length) return null;\n  const sum = nums.reduce((a, b) => a + b, 0);\n  return {\n    avg: sum / nums.length,\n    min: Math.min(...nums),\n    max: Math.max(...nums),\n    count: nums.length,\n  };\n}\n\nfunction delta(current, previous) {\n  if (!current || !previous) return null;\n  return current.avg - previous.avg;\n}\n\nconst keys = ['sleep_hours', 'sleep_score', 'hrv_last_night', 'steps', 'stress_avg', 'body_battery_max'];\nconst summary = {};\nfor (const k of keys) {\n  const cur = stats(lastWeek, k);\n  const prev = stats(prevWeek, k);\n  summary[k] = {\n    current: cur ? Number(cur.avg.toFixed(1)) : null,\n    previous: prev ? Number(prev.avg.toFixed(1)) : null,\n    delta: cur && prev ? Number((cur.avg - prev.avg).toFixed(1)) : null,\n    min: cur ? Number(cur.min.toFixed(1)) : null,\n    max: cur ? Number(cur.max.toFixed(1)) : null,\n  };\n}\n\nconst payload = {\n  week_start: lastWeek[0]?.date || null,\n  week_end: lastWeek[lastWeek.length - 1]?.date || null,\n  days_count: lastWeek.length,\n  summary,\n};\n\nreturn [{ json: payload }];"
      },
      "id": "build-context",
      "name": "Считаем агрегаты за неделю",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 800,\n  \"system\": \"Ты — персональный аналитик Алёны. По воскресеньям пишешь ей итог недели в Telegram на русском. Короткий, без воды, без морализаторства. Формат строго:\\n\\n📊 *Итоги недели*\\n\\n*Что улучшилось:*\\n• ... (1-3 пункта, с цифрами и сравнением с прошлой неделей)\\n\\n*Что просело:*\\n• ... (1-2 пункта, мягко)\\n\\n*Самый сильный день:* день недели + почему (например, лучший сон или HRV).\\n\\n*Фокус на следующую неделю:* одно конкретное наблюдение или микро-эксперимент. Не «надо больше спать», а что-то измеримое: «попробуй лечь до 23:00 хотя бы 4 раза», «понаблюдай за HRV после кардио».\\n\\nЕсли цифр недостаточно (меньше 4 дней) — честно скажи: 'Слишком мало данных для итогов, продолжаем копить'. Используй Markdown (звёздочки для жирного). Округляй числа.\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(JSON.stringify($json)) }}\n    }\n  ]\n}"
      },
      "id": "claude",
      "name": "Claude: пишет недельный итог",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000,
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_ANTHROPIC_CRED_ID",
          "name": "Anthropic x-api-key"
        }
      },
      "notes": "Тот же credential, что и у утреннего workflow."
    },
    {
      "parameters": {
        "chatId": "={{ $('Конфиг').item.json.telegram_chat_id }}",
        "text": "={{ ($json.content && $json.content[0] && $json.content[0].text) ? $json.content[0].text : ('📊 *Итоги недели* (Claude недоступен)\\n\\nДней с данными: ' + $('Считаем агрегаты за неделю').item.json.days_count + '\\nСредний сон: ' + ($('Считаем агрегаты за неделю').item.json.summary.sleep_hours.current || '—') + ' ч\\nСредний HRV: ' + ($('Считаем агрегаты за неделю').item.json.summary.hrv_last_night.current || '—') + ' мс\\nСредние шаги: ' + ($('Считаем агрегаты за неделю').item.json.summary.steps.current || '—') + '\\n\\nИнсайт допиши руками.') }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-send",
      "name": "Отправить в Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1340, 300],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_TELEGRAM_CRED_ID",
          "name": "Life Dashboard Bot"
        }
      }
    }
  ],
  "connections": {
    "Каждое воскресенье 19:00 МСК": {
      "main": [
        [
          {
            "node": "Конфиг",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Конфиг": {
      "main": [
        [
          {
            "node": "Тянем Garmin CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Тянем Garmin CSV": {
      "main": [
        [
          {
            "node": "Считаем агрегаты за неделю",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Считаем агрегаты за неделю": {
      "main": [
        [
          {
            "node": "Claude: пишет недельный итог",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: пишет недельный итог": {
      "main": [
        [
          {
            "node": "Отправить в Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Moscow"
  },
  "tags": ["life-dashboard", "telegram", "claude", "weekly"]
}
